include AUTHORS
include COPYING
include COPYING.LESSER
include ChangeLog
include ChangeLog.uflacs
include INSTALL
include LICENSE
include requirements.txt
recursive-include bench *
recursive-include demo *
recursive-include doc *
recursive-include ffc *.in
recursive-include libs *
recursive-include test *
recursive-exclude test/regression/ffc-reference-data *
recursive-exclude test/regression/output *
global-exclude __pycache__ *.pyc
