numpy
git+https://bitbucket.org/fenics-project/instant.git
git+https://bitbucket.org/fenics-project/ufl.git
git+https://bitbucket.org/fenics-project/ffc.git
git+https://bitbucket.org/fenics-project/ufl.git
