name: Build wheels

# By default this action does not push to test or production PyPI.  The wheels
# are available as an artifact that can be downloaded and tested locally.

on:
  workflow_dispatch:
    inputs:
      ffcx_ref:
        description: "FFCx git ref to checkout"
        default: "main"
        type: string
      test_pypi_publish:
        description: "Publish to Test PyPi (true | false)"
        default: false
        type: boolean
      pypi_publish:
        description: "Publish to PyPi (true | false)"
        default: false
        type: boolean

  workflow_call:
    inputs:
      ffcx_ref:
        description: "FFCx git ref to checkout"
        default: "main"
        type: string
      test_pypi_publish:
        description: "Publish to Test PyPi (true | false)"
        default: false
        type: boolean
      pypi_publish:
        description: "Publish to PyPi (true | false))"
        default: false
        type: boolean

jobs:
  build:
    name: Build wheels and source distributions
    runs-on: ubuntu-latest
    steps:
      - name: Checkout FFCx
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.ffcx_ref }}

      - name: Upgrade pip and setuptools
        run: python -m pip install setuptools pip build --upgrade

      - name: Build sdist and wheel
        run: python -m build .

      - uses: actions/upload-artifact@v2
        with:
          path: dist/*

  upload_pypi:
    name: Upload to PyPI (optional)
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: artifact
          path: dist

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@v1.5.1
        if: ${{ github.event.inputs.pypi_publish == 'true' }}
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
          repository_url: https://upload.pypi.org/legacy/

      - name: Publish to Test PyPI
        uses: pypa/gh-action-pypi-publish@v1.5.1
        if: ${{ github.event.inputs.test_pypi_publish == 'true' }}
        with:
          user: __token__
          password: ${{ secrets.PYPI_TEST_TOKEN }}
          repository_url: https://test.pypi.org/legacy/
