# This workflow will install Python dependencies, run tests and lint
# with a single version of Python For more information see:
# https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: FFCX CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: [3.7, 3.8]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies (non-Python, Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y graphviz libgraphviz-dev pkg-config
      - name: Install dependencies (non-Python, macOS)
        if: runner.os == 'macOS'
        run: brew install graphviz pkg-config
      - name: Install dependencies (Python)
        run: |
          pip install --upgrade pip
          pip install pygraphviz
          pip install git+https://github.com/FEniCS/fiat.git --user
          pip install git+https://github.com/FEniCS/ufl.git --user
      - name: Lint with flake8
        run: |
          pip install flake8
          flake8 --statistics ffcx/ test/
      - name: Check documentation style
        run: |
          pip install pydocstyle
          pydocstyle .
      - name: Install ffcx
        run: |
          pip install .
      - name: Run units tests
        run: |
          pip install coveralls coverage pytest pytest-cov pytest-xdist
          pytest -n auto --cov=ffcx/ --junitxml=junit/test-results-${{ matrix.os }}-${{ matrix.python-version }}.xml test/
      - name: Upload to Coveralls
        if: ${{ github.repository == 'FEniCS/ffcx' && github.head_ref == '' && matrix.os == 'ubuntu-latest' && matrix.python-version == '3.8' }}
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        run: |
          coveralls
      - name: Upload pytest test results
        uses: actions/upload-artifact@master
        with:
          name: pytest-results-${{ matrix.os }}-${{ matrix.python-version }}
          path: junit/test-results-${{ matrix.os }}-${{ matrix.python-version }}.xml
        # Use always() to always run this step to publish test results
        # when there are test failures
        if: always()
      - name: Runs demos
        run: |
          ffcx demo/*.ufl

      - name: Build documentation
        run: |
          pip install sphinx
          cd doc
          make html
      - name: Upload documentation artifact
        uses: actions/upload-artifact@v2
        with:
          name: doc
          path: doc/build/html/
          retention-days: 2
          if-no-files-found: error
      - name: Checkout FEniCS/docs
        uses: actions/checkout@v2
        with:
          repository: "FEniCS/docs"
          path: "docs"
          ssh-key: "${{ secrets.SSH_GITHUB_DOCS_PRIVATE_KEY }}"
      - name: Push documentation to repository FEniCS/docs
        if: ${{ github.repository == 'FEniCS/ffcx' && runner.os == 'linux' && matrix.os == 'ubuntu-latest' && matrix.python-version == '3.8' }}
        run: |
          git config --global user.email "fenics@github.com"
          git config --global user.name "FEniCS GitHub Actions"
          mkdir -p docs/ffcx
          cp -r doc/build/html/* docs/ffcx/
          cd docs
          git add --all
          git commit --allow-empty -m "C++ and Python FEniCS/ffcx@${{ github.sha }}"
          git push
